body{
	font-family: 'Biryani', sans-serif;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
 }
 nav {
 	background-color: #E8C66A;
 	text-align: right;
 	font-size: 1.5em;
 	padding: 10px 10px;
 	border:10px;
 }
 nav a{
 	margin:0px 10px;
 }
 aside{
 	background-color: #FFC675;
 }
article{
 	background-color: #E89C6C;
 }
footer{
 	background-color: #FF957E;
 }
div, section{
 	background-color: #FFE2b8;
 }